@model IEnumerable<Domain.Appointment>

<link rel="stylesheet" href="~/css/Appointment/AppointmentStyle.css" />
<script src="https://unpkg.com/feather-icons"></script>
<script src="~/js/MenuItems.js"></script>
<script>activeMenu3()</script>
<script src="~/js/AppointmentDetailScript.js"></script>

<body>
    <div class="appointments-page">
        <div class="appointments-page-list">
            <div class="appointments-page-list-block">
                @foreach (Domain.Appointment a in Model.OrderBy(p => p.AppointmentDateTime))
                {
                    <div class="appointments-page-list-item" >
                        <div class="appointments-page-list-item-info">
                            <span class="appointments-page-list-item-info-title">@a.Patient.Name</span>
                            <br />
                            <span>@a.AppointmentDateTime.ToShortDateString()</span>
                            <br />
                            <span>@a.AppointmentDateTime.ToShortTimeString() - @a.EndDateTime.ToShortTimeString()</span>
                        </div>
                        <div class="appointments-page-list-item-icon">
                            <a onclick="ReloadEvents(@a.Id)">
                                <i data-feather="chevron-right" class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="appointments-page-detail" id="component">
        </div>
    </div>
</body>

<script>
    feather.replace();

    function test() {
        console.log("hallo");
    }

</script>