@model Fysio.Models.PatientModel

<body>
    <div>
        <h3>@(Model.Name) (@Model.Birthdate.ToString("dd MMMM yyy"))</h3>
        <ul>
            <li>@Model.Email</li>
            <li>@Model.PhoneNumber</li>
            @if (Model.Teacher)
            {
                <li>Leraar</li>
            }
            else
            {
                <li>Student</li>
            }
            <li>@Model.RegistrationNumber</li>
            @if (Model.Gender)
            {
                <li>Man</li>
            }
            else
            {
                <li>Vrouw</li>
            }
        </ul>
    </div>
</body>
