@model Domain.PatientFile

<link rel="stylesheet" href="~/css/PatientFile/PatientFileStyle.css"/>

<script src="~/js/MenuItems.js"></script>

<body class="patientfile-body">
    <div class="patientfile">
        <div class="patient-link">
            <div class="patient-link-title">
                <h4>Patient</h4>
            </div>
            <div class="patient-link-information">
                <div class="patient-link-information-head">
                    <span>Naam:</span>
                    <br />
                    <span>Leeftijd:</span>
                </div>
                <div class="patient-link-information-content">
                    <span>@Model.Patient.Name</span>
                    <br />
                    <span>@Model.Age</span>
                </div>
            </div>
            <div class="patient-link-icon">
                <a asp-action="PatientDetail" asp-controller="Patient" asp-route-id="@Model.Patient.Id">
                    <img src="~/icons/chevron-right.svg" alt="arrow to the right" />
                </a>
            </div>
        </div>
        <div class="treatmentplan">
            <div class="treatmentplan-title">
                <h4>Behandelplan</h4>
            </div>
            <div class="treatmentplan-info">
                <div class="treatmentplan-info-head">
                    <span>Behandelingen p/w:</span>
                    <br />
                    <span>Minuten per sessie:</span>
                </div>
                <div class="treatmentplan-info-content">
                    <span>
                        @Model.TreatmentPlan.TreatmentsPerWeek
                    </span>
                    <br />
                    <span>
                        @Model.TreatmentPlan.MinutesPerSession
                    </span>
                </div>
            </div>
            <div class="treatmentplan-diagnosis">
                <div class="treatmentplan-diagnosis-head">
                    <span>Diagnose code:</span>
                    <br />
                    <span>Diagnose omschrijving:</span>
                </div>
                <div class="treatmentplan-diagnosis-content">
                    <span>
                        @Model.DiagnosisCode
                    </span>
                    <br />
                    <span>
                        @Model.DiagnosisDescription
                    </span>
                </div>
            </div>
        </div>
        <div class="intake">
            <div class="intake-title">
                <h4>Intake</h4>
            </div>
            <div class="intake-info">
                <div class="intake-info-dates">
                    <div class="intake-info-dates-head">
                        <span>Startdatum:</span>
                        <br />
                        <span>Einddatum:</span>
                    </div>
                    <div class="intake-info-dates-content">
                        <span>@Model.StartDate.ToShortDateString()</span>
                        <br />
                        @if (Model.EndDate == DateTime.MinValue)
                        {
                            <span>Nog in traject</span>
                        }
                        else
                        {
                            <span>@Model.EndDate.ToShortDateString()</span>
                        }

                    </div>
                </div>
                <div class="intake-info-treators">
                    <div class="intake-info-treators-head">
                        <span>Intaker:</span>
                        <br />
                        @if (Model.SupervisingTreator != null)
                        {
                            <span>Supervisor:</span>
                            <br/>
                        }
                        <span>Hoofdbehandelaar:</span>
                    </div>
                    <div class="intake-info-treators-content">
                        <span>@Model.Intaker.Name</span>
                        <br />
                        @if (Model.SupervisingTreator != null)
                        {
                            <span>@Model.SupervisingTreator.Name</span>
                            <br/>
                        }
                        <span>@Model.MainTreator.Name</span>
                    </div>
                </div>
                <div class="intake-info-complaints">
                    <div class="intake-info-complaints-head">
                        <span>Klachten:</span>
                    </div>
                    <div class="intake-info-complaints-content">
                        <span>@Model.Complaints</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="comments">
            <div class="comments-title">
                <h4>Opmerkingen</h4>
            </div>
            <div class="comments-list">
                @if (Model.Comments.Count > 0)
                {
                    @foreach (Domain.Comment comment in Model.Comments.OrderBy(p => p.CreationDateTime))
                    {
                        <div class="comments-list-item">
                            <div class="comments-list-item-title">
                                <h6>@comment.CreationDateTime.ToShortDateString()</h6>
                            </div>
                            <div class="comments-list-item-info">
                                <div class="comments-list-item-info-head">
                                    <span>Maker:</span>
                                    <br />
                                    <span>Zichtbaarheid:</span>
                                    <br />
                                    <span class="comment">Opmerking:</span>
                                </div>
                                <div class="comments-list-item-info-content">
                                    <span>@comment.Creator.Name</span>
                                    <br />
                                    @if (comment.VisibleForPatient)
                                    {
                                        <span>Iedereen</span>
                                    }
                                    else
                                    {
                                        <span>Alleen collega's</span>
                                    }
                                    <br />
                                    <span>@comment.Description</span>
                                </div>
                            </div>

                        </div>
                    }
                }
                else
                {
                    <h6>Er zijn geen comments</h6>
                }
            </div>
            <div class="comments-btn">
                <a asp-action="AddComment" asp-controller="PatientFile" asp-route-id="@Model.Id" class="link-styled">Opmerking maken</a>
            </div>
        </div>
        <div class="treatments">
            <div class="treatments-title">
                <h4>Behandelingen</h4>
            </div>
            <div class="treatments-list">
                @if (Model.Treatments.Count > 0)
                {
                    @foreach (Domain.Treatment treatment in Model.Treatments.OrderByDescending(p => p.TreatmentDateTime))
                    {
                        <div class="treatments-list-item">
                            <a asp-action="Index" asp-controller="Treatment" asp-route-id="@treatment.Id">
                                <div class="treatments-list-item-title">
                                    <h6>@treatment.TreatmentDateTime.ToShortDateString()</h6>
                                </div>
                                <div class="treatments-list-item-info">
                                    <div class="treatments-list-item-info-head">
                                        <span>Type:</span>
                                        <br />
                                        <span>Behandelaar:</span>
                                    </div>
                                    <div class="treatments-list-item-info-content">
                                        <span>@treatment.Type</span>
                                        <br />
                                        <span>@treatment.Treator.Name</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    }
                    else
                    {
                        <h6>Er zijn nog geen behandelingen</h6>
                    }
            </div>
            <div class="treatments-btn">
                
                    <a class="link-styled" asp-action="AddTreatment" asp-controller="Treatment" asp-route-p="@Model.Patient.Email" asp-route-id="0">Behandeling maken</a>
                </div>
        </div>
    </div>
</body>


<script>
    activeMenu2();
</script>