@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Fysio.Models.PatientModel>

<link rel="stylesheet" href="~/css/Layout/LayoutStyle.css" />
<link rel="stylesheet" href="~/css/Patient/PatientStyle.css" />
<script src="https://unpkg.com/feather-icons"></script>
<script src="~/js/MenuItems.js"></script>
<script src="~/js/PatientSearchScript.js"></script>

<body>
    <div class="patient">
        <div class="search-bar">
            <input id="searchfield" class="" type="text" placeholder="Zoeken..." oninput="searchFunction()"/>
            <img src="~/icons/search.svg" alt="search icon" class="icon-search" />
        </div>
        <div class="patient-list">
            @foreach (PatientModel p in Model)
            {
                
                <div class="patient-item" id="@p.Name">

                    <div class="patient-item-icon">
                        <img src="~/icons/user.svg" alt="User icon" class="icon" />
                    </div>
                    <div class="patient-item-textbox">
                        <a asp-action="PatientDetail" asp-controller="Patient" asp-route-id="@p.Id">
                            <p class="patient-item-text"><strong>@p.Name</strong></p>
                            <p class="patient-item-text">@p.Birthdate.ToShortDateString()</p>
                        </a>
                    </div>
                    <div class="patient-item-icon">
                        <a asp-action="PatientDetail" asp-controller="Patient" asp-route-id="@p.Id">
                            <img src="~/icons/chevron-right.svg" alt="Chevron right icon" class="icon" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="fab">
        <a asp-action="AddPatient" asp-controller="Patient">
            <i data-feather="plus-circle" class="fab-icon"></i>
        </a>
    </div>
</body>

<script>
    feather.replace();
    activeMenu2();
</script>