@model IEnumerable<Domain.Appointment>

<link rel="stylesheet" href="~/css/Patient/PatientAppointmentStyle.css" />

<body>
    <div class="appointments">
        <div class="appointments-title">
            <h4>Geplande afspraken</h4>
        </div>
        @if (ViewBag.HasAppointments) { 
    <div class="appointments-list">
        @foreach (Domain.Appointment a in Model)
        {
            if (ViewBag.IsTreator)
            {
                if (a.AppointmentDateTime > DateTime.Now.AddDays(1))
                {
                    <a asp-area="Treator" asp-action="AddAppointment" asp-controller="Appointment" asp-route-patientId="@a.Patient.Id" asp-route-appointmentId="@a.Id">
                        <div class="appointments-list-item">
                            <strong>
                                @a.Treator.Name
                            </strong>
                            <br />
                            @a.AppointmentDateTime.ToLongDateString()
                            <br />
                            @a.AppointmentDateTime.ToShortTimeString() - @a.EndDateTime.ToShortTimeString()
                        </div>
                    </a>
                }
                else
                {
                    <div class="appointments-list-item">
                        <strong>
                            @a.Treator.Name
                        </strong>
                        <br />
                        @a.AppointmentDateTime.ToLongDateString()
                        <br />
                        @a.AppointmentDateTime.ToShortTimeString() - @a.EndDateTime.ToShortTimeString()
                    </div>
                }
            }
            else
            {
                if (a.AppointmentDateTime > DateTime.Now.AddDays(1))
                {

                    <a asp-area="Patient" asp-action="AddAppointment" asp-controller="Home" asp-route-id="@a.Id">
                        <div class="appointments-list-item">
                            <strong>
                                @a.Treator.Name
                            </strong>
                            <br />
                            @a.AppointmentDateTime.ToLongDateString()
                            <br />
                            @a.AppointmentDateTime.ToShortTimeString() - @a.EndDateTime.ToShortTimeString()
                        </div>
                    </a>
                }
                else
                {
                    <div class="appointments-list-item">
                        <strong>
                            @a.Treator.Name
                        </strong>
                        <br />
                        @a.AppointmentDateTime.ToLongDateString()
                        <br />
                        @a.AppointmentDateTime.ToShortTimeString() - @a.EndDateTime.ToShortTimeString()
                    </div>
                }
            }
        }
    </div>
        } else
            {
                <h6>Nog geen afspraken ingepland</h6>
            }
        <div class="appointments-btn">
            @if (ViewBag.IsTreator)
            {
                <a asp-action="AddAppointment" asp-area="Treator" asp-controller="Appointment" asp-route-patientId="@ViewBag.patientId" class="link-styled create-appointment">Maak een afspraak</a>
            } else
            {
                <a asp-action="AddAppointment" asp-area="Patient" asp-controller="Home" class="link-styled create-appointment">Maak een afspraak</a>
            }
        </div>
    </div>
</body>