@model Domain.PatientFile

<link rel="stylesheet" href="~/css/Home/TreatorNextAppointmentStyle.css" />

<body>
    <div class="next-appointment">
            <div class="next-appointment-title">
                <h4>Eerstvolgende afspraak</h4>
                @if(Model != null)
                {
                    <h6>@Model.Patient.Name</h6>
                }
            </div>
            @if(Model != null)
             {
                <div class="next-appointment-last-treatment">
                    <div class="next-appointment-last-treatment-title">
                        <h6>Laatste behandeling:</h6>
                    </div>
                    @if (ViewBag.lastTreatment != null)
                    {
                        <div class="next-appointment-last-treatment-head">
                            <span>Type:</span>
                            <br />
                            <span>Omschrijving:</span>
                            <br />
                            <span>Bijzonderheden:</span>
                            <br />
                            <span>Datum:</span>
                            <br />
                            <span>Behandelaar:</span>
                        </div>
                        <div class="next-appointment-last-treatment-content">
                            <span>@ViewBag.lastTreatment.Type</span>
                            <br />
                            <span>@ViewBag.lastTreatment.Description</span>
                            <br />
                            <span>@ViewBag.lastTreatment.Particularities</span>
                            <br />
                            <span>@ViewBag.lastTreatment.TreatmentDateTime.ToShortDateString()</span>
                            <br />
                            <span>@ViewBag.lastTreatment.Treator.Name</span>
                        </div>
                    } else
                    {
                        <h6>
                            Nog geen behandeling gehad
                        </h6>
                    }

                </div>
                <div class="next-appointment-info">
                    <div class="next-appointment-info-title">
                        <h6>Afspraak:</h6>
                    </div>
                    @if(ViewBag.Appointment != null)
                    {
                        <div class="next-appointment-info-head">
                            <span>Datum:</span>
                            <br />
                            <span>Tijd:</span>
                            <br />
                            <span>Behandelaar:</span>
                        </div>
                        <div class="next-appointment-info-content">
                            <span>@ViewBag.Appointment.AppointmentDateTime.ToShortDateString()</span>
                            <br />
                            <span>@ViewBag.Appointment.AppointmentDateTime.ToShortTimeString()</span>
                            <br />
                            <span>@ViewBag.Appointment.Treator.Name</span>
                        </div>
                    } else
                    {
                        <h6>Geen afspraak ingepland</h6>
                    }
                </div>
                <div class="next-appointment-buttons">
                    <a class="link-styled next-appointment-buttons-container" asp-action="PatientDetail" asp-controller="Patient" asp-route-id="@Model.Patient.Id">Naar Patiënt</a>
                    <a class="link-styled next-appointment-buttons-container" asp-action="Index" asp-controller="PatientFile" asp-route-id="@Model.Patient.Id">Naar Dossier</a>
                    <a class="link-styled next-appointment-buttons-container" asp-action="AddTreatment" asp-controller="Treatment" asp-route-p="@Model.Patient.Email">Behandeling maken</a>
                    <a class="link-styled next-appointment-buttons-container" asp-action="AddAppointment" asp-controller="Appointment" asp-route-id="@Model.Patient.Id">Afspraak maken</a>
                </div>

            } else
            {
                <h6>Geen afspraken</h6>
            }
    </div>
</body>